html,
body * {
  box-sizing: border-box;
  max-width: 100%;
}
main {
  width: 95%;
  margin: 0 auto;
}

html,
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 5em 1fr 5em;
  margin: 0;
  background-color: #f6f8fa;
}

h1 {
  margin: 0;
  display: inline;
}
.logo-sm {
  max-width: 4em;
}
.logo-m {
  max-width: 20em;
}

.flex {
  display: flex;
}
.search {
  flex-direction: column;
  align-items: center;
  gap: 0.3em;
}
.nav,
footer {
  align-items: center;
  justify-content: center;
}
footer,
button {
  background-color: black;
  color: white;
}
main {
  display: grid;
  align-items: center;
}
header {
  gap: 1em;
}

.loading {
  display: block;
  text-align: center;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
.loadContainer {
  flex-direction: column;
  align-items: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
