@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bordersContainers {
    border: 2px solid;
  }
  .spaceInText {
    letter-spacing: 0.1em;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f3f3f3;
  height: -webkit-fill-available;
}

.borders-container {
  border: 1px solid black;
  border-radius: 5px;
}
.shadow {
  box-shadow: 3px 3px black;
}
